@keyframes animation04 {
    0% {
        transform: translate(0, 0);
        -webkit-transition: translate(0, 0);
        -o-transition: translate(0, 0);
    }

    99.9% {
        transform: translate(70vw, 12.3vw);
        -webkit-transition: translate(70vw, 12.3vw));
        -o-transition: translate(70vw, 12.3vw);
    }
}

@-webkit-keyframes animation04 {
    from {
        -webkit-transition: translate(0, 0);
        -o-transition: translate(0, 0);
        transition: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
        -webkit-transition: translate(50px, 50px);
        -o-transition: translate(50px, 50px);
        transition: translate(50px, 50px);
    }
}



@keyframes animation05 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-70vw, 12.5vw);
    }
}

@-webkit-keyframes animation05 {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
    }
}



@keyframes animation06 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(50px, 50px);
    }
}





@keyframes animation06 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(70vw, 12.5vw);
    }
}

@-webkit-keyframes animation06 {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
    }
}


@keyframes animation06 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(50px, 50px);
    }
}





@keyframes animation06 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(70vw, 12.5vw);
    }
}

@-webkit-keyframes animation06 {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
    }
}



@keyframes animation07 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-70vw, 13.3vw);
    }
}

@-webkit-keyframes animation07 {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
    }
}
