* {
    margin: 0;
    padding: 0;
    max-width: 1500px;

}

@font-face {
    font-family: "bifur";
    src: url(../font/bifur.ttf) format("truetype")
}







}

.main {
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-family: bifur;
}

/*黄色or白のアンダーライン---------------------------------------------*/
.main-visual h3 {
    display: inline-block;
    background: linear-gradient(transparent 50%, #ffff66 50%);
}

h4 {
    display: inline-block;
    background: linear-gradient(transparent 50%, #ffff66 50%);
}

h2 {
    border-left: solid 10px #ffff66;
    font-size: 4vw;
}

.title-p {
    border-left: solid 10px #ffff66;
}

#material h2 {
    border-left: solid 10px #fff;
}

#material .title-p {
    border-left: solid 10px #fff;
}

/*main-visual-------------------------------------------------*/
.main-visual {
    width: 100%;
    height: 100vh;
    position: relative;
}

.content1 {
    width: 80vw;
    margin: 0 auto;
}

.mv-triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    height: 14vw;
    background:
        linear-gradient(to top right, rgba(255, 255, 255, 0) 50%, #111 50.5%) no-repeat top left/100% 100%
}

.main-visual h1 {
    transform: rotate(10deg);
    font-size: 5vw;
    position: absolute;
    font-weight: 100;
    margin-top: 10vw;
    margin-left: 5vw;
}

.main-visual .mv-h3 {
    transform: rotate(10deg);
    position: absolute;
    margin-top: 15vw;
    margin-left: 5vw;
}

.main-visual h3 {
    font-size: 3vw;
    margin-top: 10px;
}

.mv-img {
    text-align: right;
    margin-right: 10vw;



}

.mv-img img {
    width: 50vw;
    transform: rotate(10deg);
    margin-top: 10vw;

}

/*header------------------------------------------------*/
header {
    text-align: center;
    position: relative;
    padding: 20px 0px;
    z-index: 1;


}

header::before {
    content: "";
    position: absolute;
    top: -3vw;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #111;
    transform: skewY(10deg);

}

header nav {}

header nav ul {
    display: block;
    transform: rotate(10deg);
    position: absolute;
    padding-top: 1vw;
    top: -3vw;
    bottom: 0;
    left: 0;
    right: 0;

}

header nav ul li {
    list-style: none;
    margin-right: 5vw;
    padding-left: 1vw;
    font-weight: 300;
    font-size: 2vw;
    display: inline-block;
    border-left: solid 1vw #ffff66
}

header nav ul li a {

    display: block;
    color: #fff;
    text-decoration: none;
    transition: 1s;
}

header nav ul li a:hover {
    color: #ffff66;
}

.road-10deg-b {
    position: relative;
    height: 5vw;
    z-index: 1;
    height: ;
}

.road-10deg-b::before {
    content: "";
    position: absolute;
    top: -0.1vw;
    bottom: ;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: #111;
    transform: skewY(10deg);
    height: 7vw;

}

.road-10deg-b img {
    position: absolute;
    top: -6.5vw;
    left: 100px;
    width: 11vw;

}

@keyframes animation04 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(50px, 50px);
    }
}



.run-bike-a {
    animation: animation04 2s infinite ease 1s both;
    -webkit-animation: animation04 3s infinite ease 3s both;

}

@keyframes animation04 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(75vw, 13.3vw);
    }
}

@-webkit-keyframes animation04 {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
    }
}

/*content1-----------------------------------------*/
#typeofbike {
    background-color: #fff;
    position: relative;
    padding-top: 3vw;
    padding-bottom: 19vw;
    overflow: hidden;
}

.content1 {
    margin-top: 8vw;
}

.content1-info {
    margin-top: 30px;
}

.content1 img {
    width: 150px;
}

.content1-img {
    margin-top: 50px;
    width: 80vw;
    display: flex;
}

.content1-img img {
    width: 90%;
    display: inline-block;
}

.image-up {
    flex: 0 0 60vw;
    height: 400;

}

.image-thumbs {
    flex: 1;

    text-align: center;
}

.image-thumbs button {
    border: none;
    /* 枠線を消す */
    outline: none;
    /* クリックしたときに表示される枠線を消す */
    background: transparent;
    /* 背景の灰色を消す */

}

.image-thumbnail {
    margin-left: 10px;
}

.image-thumbnail:nth-child(n + 3) {
    margin-top: 10px;
}

.selected {
    position: relative;

}

.selected::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffff99;
    opacity: .7;
}

.content1 p {
    font-size: 1.5vw;
}


p {
    font-size: 1.5vw;
}


/*境目テンプレ*/
.road--10deg-w {
    height: 9vw;
}

#typeofbike {
    background: #fff;
}

.road--10deg-w {
    position: relative;
    z-index: 0;
}

.road--10deg-w::after {
    content: '';
    position: absolute;
    left: 0;
    top: 19vw;
    transform: skewY(-10deg);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;
}

#typeofbike {
    position: relative;
    background-color: #fff;
}

#typeofbike::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18vw 100vw;
    border-color: transparent transparent #111 transparent;
}

.all,
.mountain,
.cross {
    width: 60vw;
    overflow: hidden;
}

.content1 h4 {
    margin-bottom: 10px;
}

.run-bike-b {
    position: absolute;
    top: 6vw;
    right: 100px;
    width: 11vw;

}





.run-bike-b {
    animation: animation05 2s infinite ease 1s both;
    -webkit-animation: animation05 3s infinite ease 3s both;

}

@keyframes animation05 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-75vw, 13.3vw);
    }
}

@-webkit-keyframes animation05 {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
    }
}

/*content2---------------------------------------------------------*/
#typeofroadbike {
    background-color: #111;
    padding-bottom: 19vw;
    overflow: hidden;


}

#typeofroadbike h2 {
    color: #fff;
}

#typeofroadbike h4 {
    color: #fff;
}

#typeofroadbike p {
    color: #fff;
}

.content2 {
    width: 80vw;
    margin: 0 auto;


}

.content2 img {
    width: 300px;
}

.content2-img {
    margin-top: 50px;
    padding-top: 50px;
    width: 80vw;
    display: flex;
}

.content2-img img {
    width: 90%;
    display: inline-block;
}

.image-up-b {
    flex: 0 0 60vw;
    margin-top: 10vw;


}

.image-thumbs-b {
    flex: 1;

    overflow: scroll;
    text-align: center;
    flex-wrap: wrap;


}



.image-thumbs-b button {
    border: none;
    /* 枠線を消す */
    outline: none;
    /* クリックしたときに表示される枠線を消す */
    background: transparent;
    /* 背景の灰色を消す */

}

.image-thumbnail-b {
    margin-left: 10px;
}

.image-thumbnail-b:nth-child(n + 3) {
    margin-top: 10px;
}

.selected {
    position: relative;

}

.selected::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ffff99;
    opacity: .7;
}

.content2-title {
    float: right;
    background: none;
}

.all-w,
.crime-w,
.earo-w,
.endurans-w,
.gravel-w {
    width: 60vw;
    overflow: hidden;
    background: none;
}


/*境目テンプレ*/
.road-10deg-ba {
    height: 9vw;
}

#typeofroadbike {
    background: #111;
}

.road-10deg-ba {
    position: relative;
    z-index: 0;
}

.road-10deg-ba::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1.4vw;
    transform: skewY(10deg);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #111;
}

#typeofroadbike {
    position: relative;
}

#typeofroadbike::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18vw 0 0 100vw;
    border-color: transparent transparent transparent #ffff99;
}

.road-10deg-ba img {
    position: absolute;
    top: 5.7vw;
    left: 100px;
    width: 11vw;

}

@keyframes animation06 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(50px, 50px);
    }
}



.run-bike-c {
    animation: animation06 2s infinite ease 1s both;
    -webkit-animation: animation06 3s infinite ease 3s both;

}

@keyframes animation06 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(75vw, 13.3vw);
    }
}

@-webkit-keyframes animation06 {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
    }
}

/*content3----------------------------------------*/
#material {
    background-color: #ffff99;
    padding-bottom: 19vw;
    overflow: hidden;
}

.content3 {
    width: 80vw;
    margin: 0 auto;
}

.info-box {
    background-color: #fff;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 20px;


}

.info-box h4 {
    color: #fff;
}

.info-l p {
    color: #fff;

}

.info-l {
    background-color: #111;
    width: 30vw;
    float: left;
    padding: 20px;

}


.info-r {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;


}

.info-r p {
    width: 30vw;
    margin-top: 30px;

}

.road--10deg-y {
    height: 9vw;
}

#typeofbike {
    background: #fff;
}

.road--10deg-y {
    position: relative;
    z-index: 0;
}

.road--10deg-y::after {
    content: '';
    position: absolute;
    left: 0;
    top: 19vw;
    transform: skewY(-10deg);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #ffff99;
}

#material {
    position: relative;
    background-color: #ffff99;
}

#material::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 18vw 100vw;
    border-color: transparent transparent #fff transparent;
}

.run-bike-d {
    position: absolute;
    top: 6vw;
    right: 100px;
    width: 11vw;

}





.run-bike-d {
    animation: animation07 2s infinite ease 1s both;
    -webkit-animation: animation05 3s infinite ease 3s both;

}

@keyframes animation07 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-75vw, 13.3vw);
    }
}

@-webkit-keyframes animation07 {
    from {
        -webkit-transform: translate(0, 0);
    }

    to {
        -webkit-transform: translate(50px, 50px);
    }
}


/*content4*/
#yes-no {
    background-color: #fff;
    margin-bottom: 19vw;
}

.content4 {

    width: 80vw;
    margin: 0 auto;
    overflow: hidden;
    z-index: 100;
    background-color: #fff;

}



.road-10deg-w {
    height: 9vw;
}

#result {
    background: #111;
}

.road-10deg-w {
    position: relative;
    z-index: 0;
}

.road-10deg-w::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1.4vw;
    transform: skewY(10deg);
    transform-origin: bottom left;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff;
}

#yes-no {
    position: relative;
}

#yes-no::before {
    content: "";
    position: absolute;
    bottom: -19vw;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18vw 0 0 98.6vw;
    border-color: transparent transparent transparent #111;
}

.tool-branch {
    text-align: center;
    width: 20vw;
    margin-top: 50px;

    width: 80vw;

}

.tool-branch-b p {
    background-color: #111;
    color: #fff;
    padding: 1vw;
    font-size: 1.5vw;



}

.tool-branch-a {}

.tool-branch-b {}

.tool-branch-b div {
    display: flex;



}

.tool-branch-b p {

    padding: 1vw 3vw;
    font-size: 1.5vw;
}

.tool-branch a {

    color: #111;
    font-size: 2.5vw;
    display: inline-block;
    text-decoration: none;
    width: 3vw;
    height: 3vw;
    line-height: 3.5vw;
    border-radius: 50%;
    border: solid 0.5vw #111;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    transition: .4s;


}

.tool-branch a:hover {
    background-color: #111;
    color: #fff;
}

.tool-all {
    margin-top: 50px;
    margin: 0 auto;
}

.tool-title {
    text-align: center;
    margin-top: 100px;
}

.yes {}

.section-yes {
    display: inline-block;

}

.section-no {
    display: inline-block
}

.section-p1 {
    margin-left: 10vw;
}

.p2 {
    margin-left: 7vw;
    margin-top: 3vw;
}

.section-p2 a {}

.section-p3 .p3 {
    margin-left: 10vw;
    margin-top: 3vw;
}

.p4 {
    margin-left: 11vw;
    margin-top: 3vw;
}

.section-p5 {
    margin-left: 10vw;
    align-items: flex-end;


}

.pa {
    margin-top: 3vw;
    margin-left: 12vw;
}

.pb {
    margin-top: 3vw;
    margin-left: 2vw;

}

.pc {
    margin-top: 3vw;
    margin-left: 5vw;
}

.pd {
    margin-top: 3vw;
    margin-right: 9vw;
    margin-left: 15vw;
}

.pe {
    margin-top: 3vw;
    margin-left: 55vw;
}

.section-pe {}

.section-p6 {
    justify-content: center;
    margin-top: 3vw;
}

.section-p7 .p7 {
    margin-left: 23vw;
    margin-top: 3vw;
}

.section-p7 .p8 {
    margin-left: 7vw;
    margin-top: 3vw;
}



.section-pf {}

.pf {
    margin-top: 3vw;
    margin-left: 24vw;
}

.pg {
    margin-top: 3vw;
    margin-left: 3vw;
}

.ph {
    margin-top: 3vw;
    margin-left: 10vw;
}

.pi {
    margin-top: 3vw;
    margin-left: 4vw;
}

.arrow {
    margin-top: 2vw;
    margin-left: 13.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #005ebb;
    display: inline-block;
}

.arrow::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #005ebb;
    top: 1vw;
    left: -0.8vw;
}

.arrow1 {
    margin-top: -1vw;
    margin-left: 24.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;
    display: block;
    float: left;
}

.arrow1::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

.arrow3 {
    margin-top: 2vw;
    margin-left: 24.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #005ebb;
    display: inline-block;

}

.arrow3::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #005ebb;
    top: 1vw;
    left: -0.8vw;
}

.arrow4 {
    margin-top: -1vw;
    margin-left: 39.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;
    display: block;
    float: left;
}

.arrow4::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

.arrow5 {
    margin-top: 2vw;
    margin-left: 13.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #005ebb;
    display: inline-block;
}

.arrow5::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #005ebb;
    top: 1vw;
    left: -0.8vw;
}

.arrow6 {
    margin-top: -1vw;
    margin-left: 22.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;
    display: block;
    float: left;
}

.arrow6::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

.arrow7 {
    margin-top: -1vw;
    margin-left: 41.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #005ebb;
    display: inline-block;
}

.arrow7::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #005ebb;
    top: 1vw;
    left: -0.8vw;
}

.arrow8 {
    margin-top: -1vw;
    margin-left: 54.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;
    display: block;
    float: left;
}

.arrow8::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

.arrow9 {
    margin-top: 2vw;
    margin-left: 56.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #005ebb;
    display: inline-block;
}

.arrow9::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #005ebb;
    top: 1vw;
    left: -0.8vw;
}

.arrow10 {
    margin-top: -1vw;
    margin-left: 67.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;
    display: block;
    float: left;

}

.arrow10::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

.arrow2 {
    margin-top: -1vw;
    margin-left: 40vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;


}

.arrow2::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

.arrow11 {
    margin-top: 2vw;
    margin-left: 34.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #005ebb;
    display: inline-block;
}

.arrow11::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #005ebb;
    top: 1vw;
    left: -0.8vw;
}

.arrow12 {
    margin-top: -1vw;
    margin-left: 44.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;
    display: block;
    float: left;
}

.arrow12::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

.arrow13 {
    margin-top: 2vw;
    margin-left: 25.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #005ebb;
    display: inline-block;
}

.arrow13::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #005ebb;
    top: 1vw;
    left: -0.8vw;
}

.arrow14 {
    margin-top: -1vw;
    margin-left: 32.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;
    display: block;
    float: left;
}

.arrow14::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

.arrow15 {
    margin-top: -1vw;
    margin-left: 46.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #005ebb;
    display: block;
    float: left;
}

.arrow15::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #005ebb;
    top: 1vw;
    left: -0.8vw;
}

.arrow16 {
    margin-top: -1vw;
    margin-left: 54.5vw;
    position: relative;
    height: 1vw;
    width: 1vw;
    background-color: #d01137;
    display: block;
    float: left;
}

.arrow16::before {
    position: absolute;
    content: "";
    border: solid 1.3vw transparent;
    border-top: solid 1.3vw #d01137;
    top: 1vw;
    left: -0.8vw;
}

/*content5*/
#result {
    background-color: #111;
    padding-bottom: 19vw;
}

.content5 {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;


}

.hatena {
    font-size: 95px;
}

#result p {
    margin-top: 20px;
}

#result h4 {
    margin-top: 20px;
}

#result img {
    width: 200px;
    margin-top: 30px;
}

.content5 img {
    width: 300px;
}

#A,
#B,
#C,
#D,
#E,
#F,
#G,
#H,
#I {
    background-color: #fff;
    width: 300px;
    height: 300px;
    margin: 10px;
    text-align: center;

}

footer {
    background: #ffff99;
    color: #111;
    text-align: center;
}
