* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "bifur";
    src: url(../font/bifur.ttf) format("truetype")
}

img {
    width: 300px;
}

.mv-img {
    text-align: center;
}

.mv-img img {
    width: 800px;
    transform: rotate(10deg)
}

.main {
    width: 80vw;
    margin: 0 auto;
}

h1 {
    font-family: bifur;
}

/*黄色or白のアンダーライン*/
.main-visual h3 {
    display: inline-block;
    background: linear-gradient(transparent 50%, #ffff66 50%);
}

h4 {
    display: inline-block;
    background: linear-gradient(transparent 50%, #ffff66 50%);
}

h2 {
    border-left: solid 10px #ffff66;
}

.title-p {
    border-left: solid 10px #ffff66;
}

#material h2 {
    border-left: solid 10px #fff;
}

#material .title-p {
    border-left: solid 10px #fff;
}

.main-visual h1 {
    transform: rotate(10deg);
    font-size: 50px;
    position: absolute;
    font-weight: 100;
}

/*header*/
header {
    display: inline-block;
    background-color: #111;
    width: 100vw;
    transform: rotate(10deg);

}

header nav ul {
    display: block;
}

header nav ul li {
    list-style: none;
    margin-right: 30px;
    font-weight: 300;
    font-size: 27px;
    display: inline-block;
    height: 15vh
}

header nav ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
}



/*content1*/
#typeofbike {
    margin-top: 100px;
}

/*content2*/
#typeofroadbike {
    background-color: #111;
    margin-top: 50px;
}

#typeofroadbike h2 {
    color: #fff;
}

#typeofroadbike h4 {
    color: #fff;
}

#typeofroadbike p {
    color: #fff;
}

/*content3*/
#material {
    background-color: #ffff99;
}

.info-box {
    background-color: #fff;
}

.info-box h4 {
    color: #fff;
}

.info-box p {
    color: #fff;
}

.info-l {
    background-color: #111;
}

/*content4*/
#result {
    background-color: #111;
}

#A,
#B,
#C,
#D,
#E,
#F,
#G,
#H,
#I {
    background-color: #fff;
}
